@import '../../styles/shared.scss';

$sidebar-hover-color: #686666;

.ui.menu.fixed.side-nav {
  background-color: #474545;
  padding-bottom: $header-nav-height;
  position: fixed; 
  .sidebar-item:hover {
    background: $sidebar-hover-color;
    cursor: pointer;
  }
}

.side-nav.ui.vertical.menu {
  width: $sidebar-left-width;
}