.base-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  
  .header {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
  }

  .content {
    display: flex;
    flex-direction: column;

    .image {
      width: 21em;
      img {
        width: 55%;
        height: 50%;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .form-group {
        display: flex;
        flex-direction: column;
        width: fit-content;
        label {
          font-size: 20px;
        }
        input {
          min-width: 18em;
          padding: 0px 10px;
          font-size: 16px;
          font-family: 'Raleway', sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          transition: all 250ms ease-in-out;

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #474545;
          }
        }
      }
    }
  }

  .footer {
    margin-bottom: 3em;
  }
}
